$blue-000: #1982C4;
$blue-300: #1982C4;
$red-000: #FF595E;
$red-300: #FF595E;
$green-000: #8AC926;
$green-300: #8AC926;
$purple-000: #6A4C93;
$purple-300: #6A4C93;
$yellow-000: #FFCA3A;
$yellow-300: #FFCA3A;