<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">

<!-- highlight.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/base16/zenburn.min.css"
      integrity="sha512-s4DsAMi+NVWWxpH5sSaDGuHdkPq84VrioJSCQCajpoMQxiQcrAcJ7omSlzqf/r0P2BvKH0fFenDXeX5wNfRDiA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"
        integrity="sha512-gU7kztaQEl7SHJyraPfZLQCNnrKdaQi5ndOyt4L4UPL/FHDd/uB9Je6KDARIqwnNNE27hnqoWLBq+Kpe4iHfeQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>hljs.initHighlightingOnLoad();</script>

<style>
    body {
        font-size: 16px;
        font-family: Comfortaa, sans-serif;
    }

    .site-footer {
        display: none;
    }

    code, td, th, div.footnotes, p.warning, p.important, p.note, p.new, p.highlight {
        font-size: .875em;
    }

    th, td {
        text-align: left;
    }

    a:not([class]) {
        text-decoration: none;
    }

    h2 {
        font-size: 26px !important;
    }

    h3 {
        font-size: 22px !important;
    }

    h4 {
        font-size: 18px !important;
        font-weight: 500;
        text-transform: none;
        letter-spacing: normal;
    }

    .hljs-comment {
        color: #9f9b9b; /* default too dark, can't read it */
    }

    .col1-nowrap tr > td:first-child {
        white-space: nowrap;
    }
</style>